h2,
h4,
p {
  font-weight: 200;
}

header {
  margin: 20px 0;
}

h1 {
  font-size: 36px;
  color: #3c2a4d;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-weight: 800;
  font-size: 36px;
}

h4 {
  font-size: 48px;
}

p {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
}
a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.card-wrapper {
  margin: 35px auto 0;
  max-width: 70%;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

.weather-icon {
  position: relative;
  left: 10px;
  top: 15px;
  width: 100%;
}

.icons {
  color: #9e9fa8;
}

.weather-now {
  padding-top: 30px;
  text-transform: capitalize;
}
.weather-parameters {
  margin-bottom: 0;
}

.units {
  font-size: 20px;
  position: relative;
  bottom: 15px;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

.future-dates {
  text-align: center;
  margin-top: 16px;
}

.future-dates h1,
h2 {
  font-size: 24px;
}

.small-card-wrapper {
  margin: 20px 10px 0;
  background-color: rgba(0, 0, 0, 0.125);
}

.degrees {
  font-weight: 500;
}
.future-dates-weather {
  margin-bottom: 0;
  font-weight: 500;
}
.small-card-wrapper .weather-icon {
  position: relative;
  left: 0;
  top: 0;
}
