h2,
h4,
p {
  font-weight: 200;
}

header {
  margin: 20px 0;
}

h1 {
  font-size: 36px;
  color: #3c2a4d;
  margin-bottom: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-weight: 800;
  font-size: 36px;
}

h4 {
  font-size: 48px;
}

p {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
}

.card-wrapper {
  margin: 35px auto 0;
  max-width: 70%;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

.weather-icon {
  font-size: 100px;
  position: relative;
  left: 60px;
  top: 20px;
  color: #9e9fa8;
}

.icons {
  color: #9e9fa8;
}

.current-location {
  padding-left: 35px;
  padding-right: 35px;
}

.weather-now {
  padding-top: 30px;
  text-transform: capitalize;
}
.weather-parameters {
  margin-bottom: 0;
}

.units {
  font-size: 20px;
  position: relative;
  bottom: 15px;
}
